@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.selectRoll {
    margin:2rem 0;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}